
#slider {
  overflow: hidden;
  display: block;
  width: 1000px;
  height: 1000px;
  position: absolute;
  margin: auto;

}

#slider img {
  width: 1000px;
  object-fit: scale-down;
  

}

.container {
  width: 99999px;
  position: absolute;
}

.previous,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 16px;
  border-radius: 0 3px 3px 0;
}

.next {
  border-left: 20px solid black;
  right: 20px;
}

.previous {
  border-right: 20px solid black;
  left: 20px;
}

.hide {
  display: none;
}
